<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>UseServletContext</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 配置全局参数, 使用 ServletContext获取 -->
	<context-param>
		<param-name>address</param-name>
		<param-value>北京</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>GetContextParam</servlet-name>
		<servlet-class>com.lywgames.myservlet.GetContextParam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetContextParam</servlet-name>
		<url-pattern>/GetContextParam.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetResources</servlet-name>
		<servlet-class>com.lywgames.myservlet.GetResources</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetResources</servlet-name>
		<url-pattern>/GetResources.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CunQuData</servlet-name>
		<servlet-class>com.lywgames.myservlet.CunQuData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CunQuData</servlet-name>
		<url-pattern>/CunQuData.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OutLoginCount</servlet-name>
		<servlet-class>com.lywgames.myservlet.OutLoginCount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OutLoginCount</servlet-name>
		<url-pattern>/OutLoginCount.action</url-pattern>
	</servlet-mapping>
</web-app>